doctype html
html
    head
        title= title
        script(src="https://cdn.tailwindcss.com")
    body
        .min-h-screen.bg-gray-100.p-6
            .max-w-4xl.mx-auto
                h1.text-2xl.font-bold.mb-4.text-center= title

                form(method="get" action="/api/cards" class="flex items-center space-x-4 mb-6")
                    input.flex-grow.p-2.border.rounded(
                        type="text"
                        name="search"
                        placeholder="Search..."
                        value=searchQuery
                    )
                    button.bg-blue-500.text-white.p-2.rounded(type="submit") Search


                .grid(class="grid grid-cols-3 gap-4")
                    each card in cards
                        .bg-white.shadow-md.rounded-lg.p-6
                            h2.text-lg.font-semibold.mb-2= card.subject
                            p.text-gray-600.mb-4= card.message
                            p.text-gray-600.mb-4= `${card.full_name} ${card.contact}`
